.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    animation-name: text_animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes text_animation {
    50%{color: white; background-color: black; }
    100%{color: pink; background-color:gray;}
 }

.square{
    border: 2px solid black;
    margin: 5px;
    width: 70px;
    height: 70px;
}

.button{
    width: 70px;
    height: 30px;
    border: 3px solid #94bbe9;
    border-top-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.button:active{
    border-color: #94bbe9;
    border-width: 1px;
    border-top-width: 0px;
}

.square-1{
    /*Linear gradient*/
    background-image: linear-gradient(to right, red, yellow, violet);
    /* Se puede poner tambien grados en el primer valor ademas de direcciones top, left. right, bottom*/
    background-image: linear-gradient(288deg, red, yellow, violet);

    transform: translate(10px, 20px);
}

.square-2{
    /*El radial puede ser circle o ellipse*/
    background-image: radial-gradient(circle, red, yellow);

    transform: rotate(-5deg); /*Podemos rotar en un eje especifico ej: rotar en X*/
}

.square-3{
    /*El ellipse es un circulo si no se le define un ancho y alto distinto*/
    background-image: radial-gradient(ellipse 50px 30px,#22c1c3,#fdbb2d, transparent);
    background-color: beige;

    transform: scale(2,1);/*Escalar un objeto, como hacerle zoom agrandarlo o achicarlo*/
}

.square-4{
    background-image: radial-gradient(circle, #b9ff00, #0027ff,  transparent);
    background-color: beige;
    transform: skew(20deg,10deg);
}

.button-1{
    background-image: linear-gradient(to bottom, #94bbe9, #eeaeca);
    color: white;
}


.square-5{
     /*Se le aplica solo a height. Si quiero que tenga en cuenta todas los cambios con 2s de transicion tendria que poner all*/
    transition: height 4s, background-color 2s;
}
.square-5:hover{
    background-color: #94bbe9;
    height: 200px;
}

@keyframes un_efecto {
    0%{ width: 100px; }
    10%{ width: 50px; }
    25%{ width: 300px; }
    50%{ width: 200px;
      background-color: red; }
    75%{ width: 300px;}
    100%{ width: 100px;
      background-color:green;}
 }
 
.square-6{
    width: 100px;
   height: 100px;
   background-color: green;
   animation-name: un_efecto; /*El nombre del keyframe*/
   animation-iteration-count: 5; /*Cantidad de veces que quiero que aplique la animacion. Puede ser "infinite" si quisiera que no se detenga.*/
   animation-timing-function: ease-in;
   animation-duration: 2s;
   /* animation-delay: 10s; */
}